.cycles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.cycleDot{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 50%;
}

.cycleDots{
      gap: 0.8rem;
}

.workTime{
    background-color: var(--warning);
}

.shortBreakTime{
     background-color: var(--primary);
}

.longBreakTime{
    background-color: var(--info);
}